.crypto-news-dashboard {
  padding-top: 7rem;
}

.crypto-news-dashboard .crypto-news-header-and-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.crypto-news-dashboard .crypto-news-header-and-select h2 {
  font-size: 2.2rem;
  color: #fff;
  width: 100%;
  text-align: center;
}

.crypto-news-dashboard .crypto-news-header-and-select select {
  font-size: 1.6rem;
  color: #60687c;
  width: 90%;
  max-width: 450px;
  border-radius: 16px;
  border: none;
  margin: 3rem 0;
  padding: 1.5rem;
  background-color: #1b1b21;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-size: 1rem auto;
  background-position: right 1.5rem center;
  background-image: url("../../img/arrow-down-sign-to-navigate.png");
  cursor: pointer;
}

.crypto-news-dashboard .crypto-news-header-and-select select:focus-visible {
  outline: none;
}

.crypto-news-dashboard .crypto-news-header-and-select select option {
  font-size: 1.6rem;
}

.crypto-news-dashboard .news-dashboard-element-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element {
  width: 90%;
  max-width: 450px;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b1b21;
  padding: 1.5rem;
  border-radius: 12px;
  overflow: hidden;
  margin: 1.5rem 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element a .news-dashboard-element-img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  margin-right: 15px;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element a .news-dashboard-element-information-wrapper .news-dashboard-element-header {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element a .news-dashboard-element-information-wrapper .publication-time {
  font-size: 1rem;
  color: #fff;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element a:active {
  background-color: #21212b;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .empty-crypto-news-info-dashboard {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-button {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #1fc2a0;
  padding: 1.5rem 5rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin: 2rem 0;
}

@media all and (min-width: 1024px) {
  .crypto-news-dashboard {
    padding: 0;
    margin-top: 6.85rem;
  }
  .crypto-news-dashboard .crypto-news-header-and-select h2 {
    display: none;
  }
  .crypto-news-dashboard .crypto-news-header-and-select select {
    margin: 0 0 3.85rem 0;
  }
  .crypto-news-dashboard .news-dashboard-element-wrapper {
    height: calc(100vh - 66px - 6rem - 3rem - 4rem);
    min-height: 300px;
    overflow-y: auto;
    padding: 0 1.5rem;
    min-width: 350px;
  }
  .crypto-news-dashboard .news-dashboard-element-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  .crypto-news-dashboard .news-dashboard-element-wrapper::-webkit-scrollbar-track {
    background: #1b1b21;
    border-radius: 100vw;
  }
  .crypto-news-dashboard .news-dashboard-element-wrapper::-webkit-scrollbar-thumb {
    background: #0d0d0ebb;
    border-radius: 100vw;
  }
  .crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element {
    min-width: 300px;
  }
  .crypto-news-dashboard .news-dashboard-element-wrapper .news-dashboard-element a:hover {
    background-color: #21212b;
  }
}
/*# sourceMappingURL=NewsDashboard.css.map */