.ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.ranking .ranking-header {
  padding: 6rem 0 3rem 0;
}

.ranking .ranking-header h2 {
  font-size: 3rem;
  color: #fff;
}

.ranking .ranking-table {
  height: calc(100% - 137px - 39px);
  width: 100%;
}

.ranking .ranking-table .ranking-table-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 40% 40%;
      grid-template-columns: 10% 10% 40% 40%;
  padding: 1rem 1.5rem;
}

.ranking .ranking-table .ranking-table-header div {
  margin: 0 auto;
}

.ranking .ranking-table .ranking-table-header .ranking-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.ranking .ranking-table .ranking-table-header .ranking-sort svg {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 2.5rem;
  color: #fff;
}

.ranking .ranking-table .ranking-table-header .ranking-sort svg.RiArrowDropUpLine {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ranking .ranking-table .ranking-table-header p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

.ranking .ranking-table .ranking-list-wrapper {
  overflow-y: scroll;
  height: 100%;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  padding: 1rem 1.5rem;
  background-color: #1b1b21;
  margin: 2rem 0;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .star-icon {
  width: 100%;
  height: 100%;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .star-icon svg {
  font-size: 1.5rem;
  color: #60687c;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .star-icon svg:active {
  color: #ffcc33;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .star-icon svg[class*="active"] {
  color: #ffcc33;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element div p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #60687c;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.11% 44.44% 44.44%;
      grid-template-columns: 11.11% 44.44% 44.44%;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-name img {
  max-width: 16px;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-name p:nth-of-type(1) {
  display: none;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-name p:nth-of-type(2) {
  margin-left: 1rem;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-price {
  margin: 0 auto;
}

.ranking .ranking-table .ranking-list-wrapper .ranking-list-element:active {
  background-color: #21212b;
}

@media all and (min-width: 550px) {
  .ranking .ranking-table .ranking-table-header {
    -ms-grid-columns: 10% 10% 45% 35%;
        grid-template-columns: 10% 10% 45% 35%;
  }
  .ranking .ranking-table .ranking-list-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  .ranking .ranking-table .ranking-list-wrapper::-webkit-scrollbar-track {
    background: #1b1b21;
    border-radius: 100vw;
  }
  .ranking .ranking-table .ranking-list-wrapper::-webkit-scrollbar-thumb {
    background: #0d0d0ebb;
    border-radius: 100vw;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element {
    margin-right: 1rem;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .star-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link {
    -ms-grid-columns: 11.11% calc(50% + 15px) 38.88%;
        grid-template-columns: 11.11% calc(50% + 15px) 38.88%;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-name p:nth-of-type(1) {
    display: block;
    margin-left: 1rem;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-name p:nth-of-type(2) {
    font-weight: 600;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-name img {
    max-width: 24px;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .item-number {
    margin: 0 auto;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element .ranking-list-element-link .star-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1024px) {
  .ranking {
    padding: 2rem 4rem;
  }
  .ranking .ranking-header {
    padding: 5rem 0;
  }
  .ranking .ranking-table .ranking-table-header p {
    font-size: 1.6rem;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element div p {
    font-size: 1.6rem;
  }
  .ranking .ranking-table .ranking-list-wrapper .ranking-list-element:hover {
    background-color: #21212b;
  }
}
/*# sourceMappingURL=Ranking.css.map */