$background: #17171a;
$elements-background: #1b1b21;
$txt-grey: #60687c;
$light-grey: #21212b;
$light-green: #1fc2a0;
$light-green-hover: #2debc1;
$light-red: #ff3572;
$scrollbar-thumb-color: #0d0d0ebb;
$elements-hover: #21212b;
$gold: #f0e130;
$pink: #fa47ce;

$dot-menu-size: 32px;
$dot-menu-dot-size: 4px;
$dot-menu-dot-color: #fff;

$blue-first: #46ccff;
$blue-second: #009dd9;
$blue-third: #0074a0;
